/* 
    author : Azeddine Taki;
    version: 1.0;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Zen+Maru+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.text-right{
    text-align: right;
}

a{
    text-decoration: none;
    color:#28282B;
}
a:hover{
    color:#28282B;
}
/* arrow css */
.navbar-container span{
    font-weight: bolder;
    font-size: 24px;
}

 /*css navbar */
.navbar{
    /* background-color: aqua; */
}
    /* css logo */
.navbar-container{
    width:90%;
    margin: 0 auto;
    display: flex;
    border:2px solid black;
    margin-bottom: 20px;
    justify-content: space-between;
}

.logo{
    width: 11%;
    
}

.img-logo{
    width:100%;
    /* background-color: black; */
}
    /* css menu */

.menu{
    width: 100%;
    background-color: aqua;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
    padding:2%;
    font-weight: 450;
    margin-right:30px;
}
.menu ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

#icon-menu{
    width: 35px;
    height: 35px;
    /* padding: 10px; */
    display: none;
    
    
    
}

/* ****************** */
@media screen and (max-width:819px) {
    
    .menu ul {
        width:95%;
        /* height: 100%; */
       margin-right: 15px;
        background: linear-gradient(#ff9054,#ff575a);
        opacity: .9;
        position: absolute;
        top:40px;
        text-align: center;
        border-radius: 20px;
        right: 0;
        z-index: 1;
        
        
    }

    .menu ul li{
        display: none;
        /* display: block; */
        

    }
    .menu ul li a{
        color: #fff;
    }

    #icon-menu{
        display: block;
        width:20px;
        height:20px;
    }
    
    .feature-container{
        flex-direction: column-reverse;
    }

    .circleOne{
        transform: translate(100px,-12px);
    }

    .circles{
        /* margin: 0 auto; */
        
    }

    .feature-img .split:nth-of-type(2){
        /* background-color: #28282B; */
        /* padding: 0 35px; */
        display: flex;
        /* justify-content: center; */
    }

    .feature-img .title p{
        font-size: 30px;
        
    }

    .logo{
        width: 15%;
    }

    .circles .circleTwo .img-plate1{
        width:9pc;


    }
    .circles .circleOne{
        height:130px;
        width:133px;
    }
    .circles .circleTwo{
        height: 105px;
        width: 105px;
    }
}

/* something in here need to be right */
@media screen and (max-width:280px) {
    
    .circleOne{
        width: 180px;
        height:180px;

    }
    .circleTwo{
        width:150px;
        height:150px;

    }
    .circleTwo .img-plate1 {
        width:12pc;
        margin:-22px;
    }

    .feature-img .split:nth-of-type(2){
        background-color: #FF5C00;
        
    }
    .feature-img .title p{

        font-size: 25px;
    }

    .feature-img .split:nth-of-type(2){
        /* background-color: #28282B; */
        /* padding: 0 35px; */
        display: flex;
        flex-direction: row-reverse;
    }

}


/* css feature-img */


.feature-container{
    /* background-color: rgba(251, 97, 7, 0.1); */
    


    background: linear-gradient(to right, #e8dab957, #E5AB8E);
    /* dfd3b6 */
    display: flex;
    /* f mobile will be uncommented !!!!!!!! */
    /* flex-direction: column-reverse; */
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    
    

    
}
.feature-img{

}

.feature-img .split{
    flex: 1; 
}

.feature-container .title{
    padding-left: 40px;
}
.title p {
    font-family: 'Zen Maru Gothic',sans-serif ;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 6px;
    color: #FF5C00;
}

.title button{
    background-color: transparent;
    font-family: 'Zen Maru Gothic',sans-serif;
    font-size: 26px;
    color:#FF5C00;
    border-radius: 30px;
    border: 2px solid #FF5C00;
    padding:15px;
    margin: 20px 0px;
}
/* css for Circle around the image */

.circles{
    

    
}

/* for the mobile the float will be commented !!!!! */
.circleOne{
    height:230px;
    width:230px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    /* border: 2px solid green; */
    border-radius: 50%;
    /* transform: translate(100px,-12px); */
    /* background-color: aqua; */
    float: right;
    margin-right: 100px;
    border-top: 0;
}

.circleTwo{
    height:200px;
    width:200px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    /* border: 2px solid rgb(0, 0, 255); */
    border-radius: 50%;
    /* transform: translate(-2px,-2px); */
    border-top: 0;
    margin-left: 3px;
    padding: 10px;

}

/* You will need if it didn't work to work with canvas look it up on YT */
.circleTwo .img-plate1{
    width:15pc;
    margin: -24px;
    
    margin-top: -30px;
    
}

/* adding media queries */

